*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
}

.logo-and-sign-in{
    width: 80%;
    height: 40px;
    margin: 0px auto;
    padding-top: 12px;
    padding-bottom: 16px;
}

.logo-and-sign-in::after{
    content: ' ';
    display: block;
    clear: both;
}

.logo-and-sign-in img{
    width: 135px;
    height: 34px;
    cursor: pointer;
    float: left;
}

.sign-in{
    width: 206px;
    height: 45px;
    float: right;
}

.logo-and-sign-in a:nth-child(1){
    padding: 12px 12px;
    text-align: center;
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 3px;
    transition-duration: 167ms;
    text-decoration: none; 
    color: rgba(0,0,0,0.6);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.logo-and-sign-in a:nth-child(1):hover{
    background-color: rgba(0,0,0,0.08);
    color: rgba(0,0,0,0.9);
}

.logo-and-sign-in a:nth-child(2){
    background-color: transparent;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    padding: 10px 24px;
    text-decoration: none;
    border: 1.5px solid #0073b1;
    border-radius: 25px;
    color: #0073b1;
    margin-left: 12px;
    transition-duration: 167ms;
    font-weight: 600;
}

.logo-and-sign-in a:nth-child(2):hover{
    background-color: rgba(112,181,249,0.15);
    color: #0a66c2;
    box-shadow: inset 0 0 0 2px #0a66c2;
}

.welcome{
    width: 80%;
    height: 522px;
    margin: 0px auto;
    padding-top: 40px;
    padding-bottom: 14px;
}

.welcome img{
    z-index: -1;
    width: 700px;
    height: 670px;
    position: absolute;
    top: 50px;
    right: -40px;
}

.welcome h1{
    width: 55%;
    padding-bottom: 48px;
    font-size: 3.5rem;
    font-family: sans-serif;
    color: #2977c9;
    font-weight: 200;
    line-height: 70px;
}

.welcome a{
    width: 376px;
    text-decoration: none;
    display: block;
    margin-bottom: 16px;
    padding: 16px 16px;
    box-shadow: 0px -1px 1px rgb(0 0 0 / 8%), 1px 0px 1px rgb(0 0 0 / 8%), -1px 0px 1px rgb(0 0 0 / 8%), 0px 1px 1px rgb(0 0 0 / 8%);
    border-radius: 5px;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    font-size: 1.2rem;
}

.welcome a:nth-child(3) svg{
  width: 25px;
  margin-left: 210px;
}

.welcome a:nth-child(4) svg{
  width: 25px;
  margin-left: 141px;
}

.welcome a:nth-child(5) svg{
  width: 25px;
  margin-left: 202px;
}

.welcome a:hover{
    box-shadow: 0px 4px 6px rgb(0 0 0 / 15%), 0px 0px 2px rgb(0 0 0 / 15%); 
}

.jobs-and-internships{
    height: 365px;
    padding-top: 160px;
    padding-bottom: 120px;
    background-color: rgb(250, 249, 247);
}

.jobs-and-internships::after{
    content: ' ';
    display: block;
    clear: both;
}

.jobs-and-internships .container{
    height: 365px;
    width: 80%;
    margin: 0px auto;
}

.jobs-and-internships .container .fj{
    width: 35%;
    font-size: 3.1rem;
    font-weight: 400;
    color: rgba(0,0,0,0.9);
    font-family: sans-serif;
    margin-right: 72px;
    float: left;
}

.suggested-search{
    height: 362px;
    width: 58%;
  float: left;
}

.suggested-search .ss{
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
}

.suggested-search ul li{
    display: inline-block;
    list-style: none;
    font-size: 20px;
    background-color: rgba(0,0,0,0.08);
    padding: 18px 20px;
    border-radius: 35px;
    margin-right: 6px;
    margin-bottom: 12px;
    cursor: pointer;
    transition-duration: 167ms;
}

.suggested-search ul li a{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    font-weight: 600;
}

.suggested-search ul li:hover{
    background-color: rgba(0,0,0,0.2);
    border-radius: 28px;
}

.suggested-search ul li:hover a{
    text-decoration: underline;
    color: rgba(0,0,0,0.6);
}

.sm{
    color: rgba(0,0,0,0.6);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.sm i{
    position: relative;
    top: 4px;
    font-size: 20px;
    color: rgba(0,0,0,0.6);
}

.sssm{
    width: 102%;
    height: 450px;
    display: none;
}

.expanded{
    height: 860px;
    padding-top: 160px;
    padding-bottom: 120px;
    background-color: rgb(250, 249, 247);
}

.post-your-job{
    width: 100%;
    height: 240px;
    background-color: rgb(241, 236, 229);
}

.post-your-job .container{
    width: 80%;
    height: 100px;
    padding: 70px 70px;
    margin: 0px auto;
}

.post-your-job .container h2{
    width: 41%;
    font-size: 2.8rem;
    color: #B24020;
    font-weight: 400;
    margin-right: 67px;
    display: inline-block;
}

.post-your-job a{
    text-decoration: none;
    border: solid 1px rgba(0,0,0,0.6);
    background: transparent;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0,0,0,0.6);
    border-radius: 30px;
    padding: 16px 20px;
    position: relative;
    bottom: 40px;
    transition-duration: 167ms;
}

.post-your-job a:hover{
    background-color: rgba(0,0,0,0.2);
    border-radius: 28px;
    text-decoration: underline;
    color: rgba(0,0,0,0.6);
}

.slide-list{
    width: 100%;
    height: 100%;
    background-color: rgb(250, 249, 247);
}

.slide-list .container{
    width: 80%;
    height: 720px;
    margin: 0px auto;
    padding: 60px 60px;
}

.header-nav{
    margin-top: 100px;
    width: 100%;
    height: 33px;
}

.slide-list .header-nav{
    padding: 8px 8px;
    margin-bottom: 16px;
}

.header-nav button:nth-child(1){
    color: rgba(0,0,0,0.25);
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0);
}

.header-nav button:nth-child(1) .prvs{
    position: relative;
    bottom: 6px;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
}

.header-nav button:nth-child(2){
    color: rgba(0,0,0,0.7);
    outline: none;
    border: none;
    background-color: rgba(0,0,0,0);
    border-radius: 2px;
    cursor: pointer;
    margin-left: 15px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.header-nav button:nth-child(2) .nxt{
    position: relative;
    bottom: 6px;
    font-weight: 600;
    font-size: 15px;
    display: inline-block;
}

.header-nav button:nth-child(2):hover{
    background-color: rgba(207,207,207,0.25);
    color: rgba(0,0,0,0.75);
}

.header-nav .content{
    height: 450px;
    width: 100%;
}

.content::after{
    content: ' ';
    display: block;
    clear: both;
}

.content img{
   float: right;
}

.content h2{
    width: 44%;
    color: #2977c9;
    font-weight: 400;
    font-size: 2.6rem;
    position: relative;
    top: 85px;
}

.content p{
    width: 552px;
    position: relative;
    top: 95px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    color: rgba(0,0,0,0.9);
}

.main-content{
    width: 100%;
    height: 644px;
    padding: 60px 60px;
}

.main-content .container{
    width: 80%;
    height: 524px;
    padding: 60px 60px;
    margin: 0px auto;
}

.main-content .container{
    content: ' ';
    display: block;
    clear: both;
}

.content1{
    width: 50%;
    height: 524px;
    float: left;
}

.content1 img{
    width: 300px;
    height: 240px;
}

.content1 h2{
    width: 435px;
    color: rgba(0,0,0,0.9);
    font-family: sans-serif;
    line-height: 60px;
    font-weight: 200;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 40px;
}

.content1 .btn{
    width: 205px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    border: solid 1px rgba(0,0,0,0.6);
    border-radius: 28px;
    padding: 14px 20px;
    transition-duration: 167ms;
    cursor: pointer;
}

.content1 .btn a{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
}

.content1 .btn:hover{
    background-color: rgba(0,0,0,0.2);
}

.content1 .btn:hover a{
    text-decoration: underline;
}

.content2{
    width: 50%;
    height: 524px;
    float: left;
}

.content2 img{
    width: 300px;
    height: 240px;
}

.content2 h2{
    width: 435px;
    color: rgba(0,0,0,0.9);
    font-family: sans-serif;
    line-height: 60px;
    font-weight: 200;
    font-size: 3rem;
    margin-top: 50px;
    margin-bottom: 40px;
}

.content2 select{
    width: 330px;
    padding: 16px 12px;
    -webkit-appearance: none;
    outline: none;
    color: rgba(0,0,0,0.9);
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 5px;
    font-weight: 400;
    font-size: 1.2rem;
    position: relative;
}

.content2 svg{
    transform: translate(-40px, 5px);
}

.marketting{
    width: 100%;
    height: 720px;
    padding: 40px 0px;
}

.marketting .container::after{
    content: ' ';
    display: block;
    clear: both;
}

.marketting .container{
    width: 80%;
    height: 720px;
    margin: 0px auto;
}

.marketting .container iframe{
    width: 564px;
    height: 378px;
    margin: 135px 0px;
    float: left;
}

.marketting .container h2{
    margin-top: 180px;
    margin-left: 48px;
    margin-bottom: 16px;
    font-size: 2.8rem;
    font-weight: 400;
    color: #B24020;
    float: left;
}

.marketting .container p{
    width: 42%;
    float: left;
    margin-left: 48px;
    font-size: 2.3rem;
    color: rgba(0,0,0,0.9);
    font-weight: 200;
}

.banner{
    width: 100%;
    height: 720px;
    padding-top: 33px;
    padding-left: 60px;
    padding-right: 60px;
    background-image: url("../img/banner2.png"), url("../img/banner1.png");
    background-repeat: no-repeat;
    background-position: bottom left, top left;
}

.banner h2{
    width: 79%;
    font-size: 3.3rem;
    color: #2977c9;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: 41px;
}

.banner .gs{
    width: 97px;
    height: 40px;
    padding: 18px 28px;
    background-color: #0a66c2;
    color: #fff;
    font-size: 17px;
    font-weight: 600;
    border-radius: 28px;
    text-decoration: none;
    margin-left: 31px;
    transition-duration: 167ms;
}

.banner .gs:hover{
    background-color: #004182;
    text-decoration: underline;
}

.footer{
    width: 100%;
    height: 100%;
    background-color: rgb(250, 249, 247);
    margin-top: 24px;
}

.footer::after{
    content: ' ';
    display: block;
    clear: both;
}

.footer .container{
    width: 80%;
    height: 353px;
    margin: 0px auto;
    padding: 24px 0px;
}

.footer .logo{
    width: 215px;
  float: left;
}

.footer .logo svg{
    color: #0a66c2;
}

.footer1{
    width: 192px;
    height: 353px;
    margin-right: 24px;
   float: left;
}

.footer1 h3{
    font-size: 17px;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    margin-bottom: 8px;
}

.footer1 ul{
    list-style: none;
}

.footer1 ul li a{
    text-decoration: none;
    color: #666666;
    line-height: 27px;
    font-size: 15px;
    font-weight: 500;
}

.footer1 ul li a:hover{
    text-decoration: underline;
    color: #006097;
}

.footer2{
    width: 192px;
    height: 353px;
    margin-right: 24px;
   float: left;
}

.footer2 h3{
    font-size: 17px;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    margin-bottom: 8px;
}

.footer2 ul{
    list-style: none;
}

.footer2 ul li a{
    text-decoration: none;
    color: #666666;
    line-height: 27px;
    font-size: 15px;
    font-weight: 500;
}

.footer2 ul li a:hover{
    text-decoration: underline;
    color: #006097;
}

.footer3{
    width: 192px;
    height: 353px;
    margin-right: 24px;
   float: left;
}

.footer3 h3{
    font-size: 17px;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    margin-bottom: 8px;
}

.footer3 ul{
    list-style: none;
}

.footer3 ul li a{
    text-decoration: none;
    color: #666666;
    line-height: 27px;
    font-size: 15px;
    font-weight: 500;
}

.footer3 ul li a:hover{
    text-decoration: underline;
    color: #006097;
}

.footer4{
    width: 192px;
    height: 353px;
    margin-right: 24px;
   float: left;
}

.footer4 h3{
    font-size: 17px;
    font-weight: 600;
    color: rgba(0,0,0,0.9);
    margin-bottom: 8px;
}

.footer4 ul{
    list-style: none;
}

.footer4 ul li a{
    text-decoration: none;
    color: #666666;
    line-height: 27px;
    font-size: 15px;
    font-weight: 500;
}

.footer4 ul li a:hover{
    text-decoration: underline;
    color: #006097;
}

.copyright{
    height: 50px;
    width: 100%;
}

.copyright .container{
    width: 90%;
    margin: 0px auto;
}

.copyright .container ul li svg{
    width: 56px;
    height: 14px;
    color: rgba(0,0,0,0.75);
    margin-right: 8px;
    position: relative;
    top: 3px;
}

.copyright .container ul{
    list-style: none;
}

.copyright .container ul li{
    display: inline-block;
    font-size: 12px;
    box-sizing: border-box;
    padding: 8px;
    position: relative;
    top: 6px;
}

.copyright .container ul li a{
    text-decoration: none;
    color: rgba(0,0,0,0.6);
    font-weight: 700;
}

.copyright .container ul li a:hover{
    text-decoration: underline;
    color: #006097;
}

.copyright .container ul li a:last-child:hover svg:last-child{
    color: #006097;
}

