*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 163px;
    height: 70px;
    padding: 0px 20px;
    margin-top: 16px;
    float: right;
}

.personal-counter{
    width: 62px;
    height: 40px;
    margin-right: 10px;
    float: left;
}

.personal-counter:hover .pc{
    border-color: #bbb;
}

.personal-counter .pc{
    width: 62px;
    height: 40px;
    padding: 0px 10px;
    outline: none;
    border: none;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color .1s ease-in-out;
}

.pc svg{
    width: 24px;
    height: 24px;
    float: left;
}

.pc .count{
    margin-left: 2px;
    position: relative;
    top: 6px;
}

.notifications{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    float: left;
}

.notifications .ntf{
    width: 40px;
    height: 40px;
    padding: 0px 10px;
    outline: none;
    border: none;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color .1s ease-in-out;
}

.ntf svg{
    width: 24px;
    height: 24px;
    position: relative;
    right: 3px;
    opacity: 0.5;
}

.notifications:hover .ntf{
    border-color: #bbb;
}

.notifications:hover .ntf svg{
    opacity: 1;
}

.burger-menu{
    width: 38px;
    height: 38px;
    float: left;
}

.burger-menu .bm{
    width: 38px;
    height: 38px;
    padding: 0px 10px;
    outline: none;
    border: none;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    cursor: pointer;
    background-color: #fff;
    transition: background-color .1s ease-in-out;
}

.bm svg{
    width: 24px;
    height: 24px;
    position: relative;
    right: 4px;
    opacity: 0.5;
}

.burger-menu:hover .bm{
    border-color: #bbb;
}

.burger-menu:hover .bm svg{
    opacity: 1;
}

.logo{
    width: 159px;
    height: 117px;
    margin: 0px auto;
    padding-top: 60px;
    padding-bottom: 40px;
}

.svg{
    text-decoration: none;
    width: 159px;
    height: 17px;
}

.svg svg{
    width: 149px;
    height: 107px;
    padding: 5px;
}

.sbar{
    width: 700px;
    position: relative;
    left: 28%;
}

.sbar input{
    width: 571px;
    height: 55px;
    padding-left: 20px;
    outline: none;
    border: 1px solid #e0e0e0;
    border-right: none;
    font-size: 20px;
    color: #353535;
    border-radius: 6px;
}

::placeholder{
    font-size: 20px;
}

.sbar button{
    width: 90px;
    height: 57px;
    outline: none;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-left: none;
    cursor: pointer;
    position: relative;
    top: 4px;
    right: 10px;
}

.sbar button svg{
    opacity: 0.5;
    transition: all .1s ease-in-out;
}

.sbar button:hover svg{
   opacity: 1;
}


