*{
    margin: 0px;
    padding: 0px;
}

.logo{
    width: 100%;
    height: 77px;
    margin-top: 97px;
    text-align: center;
}

.sbar{
    margin-top: 28px;
    width: 100%;
    height: 50px;
    text-align: center;
}

.sbar input{
    width: 480px;
    height: 16px;
    padding: 12px 16px;
    font-size: 16px;
    box-shadow: none;
    border-radius: 10px 0 0 10px;
    border: 2px solid #c4c7ce;
    background: #fff;
    color: #222;
    outline: none;
}

.sbar input:hover{
    border-color: #a7aab5;
}

.sbar input:focus{
    border-color: #4e6ef2;
    opacity: 1;
}

.sbar i{
    font-size: 22px;
    color: #c4c7ce;
    position: relative;
    top: 4px;
    right: 48px;
    cursor: pointer;
}

.sbar i:hover{
    color: #4e6ef2;;
}

.sbar button{
    border: none;
    width: 108px;
    height: 44px;
    background-color: #4e6ef2;
    border-radius: 0 10px 10px 0;
    font-size: 17px;
    color: #fff;
    cursor: pointer;
    position: relative;
    right: 31px;
}

.sbar button:hover{
    background-color: #4662d9;
}

