*{
    margin: 0px;
    padding: 0px;
}

.swing{
    width: 100%;
    height: 100vh;
    animation: swing 2s infinite;
    animation-timing-function: ease-in-out;
    transform-origin: top;
}

.string{
    height: 200px;
    width: 3px;
    margin: 0px auto;
    background-color: red;
    display: block;
}

.box{
    height: 135px;
    width: 200px;
    margin: 0px auto;
    background-color: peachpuff;
}

@keyframes swing{
    0%{
        transform: rotate(20deg);
    }

    50%{
        transform: rotate(-20deg);
    }

    100%{
        transform: rotate(20deg);
    }
}