*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../img/bgp.jpg");
    background-repeat: no-repeat;
    background-size:  100% 100%;
}    

.form{
    width: 553px;
    height: 451px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 9px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}

.git{
    width: 100%;
    margin-top: 10px;
}

.git h2{
    text-align: center;
}

.form input{
    outline: none;
    border: none;
    background:transparent;
    color: black;
    height: 30px;
    width:70%;
    border-radius: 10px;
    padding: 5px 10px 10px;
    margin-top: 15px;
    position: relative;
    left: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px #fff solid;
    border-width: 3px;
    display: block;
}

::placeholder{
    color: black;
}

.custom-select{
    width: 100%;
}

.custom-select select{
    -webkit-appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: black;
   position: relative;
   left: 10%;
   height: 45px;
   width: 74%;
   display: block;
   margin-top: 15px;
   border-radius: 10px;
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   border: 1px #fff solid;
   border-width: 3px;
   padding: 5px 10px;
   background: transparent;
}

.custom-select i{
    position: absolute;
    right: 100px;
    top: 191px;
    font-size: 30px;
    color: #fff;
}

.form textarea{
    outline: none;
    border: none;
    background: transparent;
    color: black;
    height: 95px;
    width:70%;
    border-radius: 16px;
    padding: 5px 10px 5px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 1px #fff solid;
    border-width: 3px;
    display: block;
}

.form button{
    width: 30%;
    height: 35px;
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 51%, #f6d365 100%);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: relative;
    left: 30%;
    display: block;
}


