*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Helvetica, sans-serif;
}

.container{
    width: 1340px;
    height: 160px;
    margin-top: 150px;
}

body::after{
    content: ' ';
    display: block;
    clear: both;
}

.logo{
    width: 355px;
    height: 160px;
    float: left;
}

.logo img{
    width: 415px;
    height: 160px;
}

.sbar{
    height: 60px;
    position: relative;
    top: 52px;
    float: left;
}

.sbar input{
    width: 444px;
    height: 24px;
    padding: 13px 15px;
    outline: none;
    border: 2px solid rgb(255, 208, 54);
    border-right: none;
    float: left;
}

.buttons{
    width: 58px;
    height: 50px;
    border: 2px solid rgb(255, 208, 54);
    border-left: none;
    float: left;
}

.kb{
    position: relative;
    top: 17px;
    text-decoration: none;
    color: rgb(185, 191, 203);
}

.kb:hover{
    color: rgb(128, 134, 139);
}

.cd{
    position: relative;
    top: 17px;
    text-decoration: none;
    color: rgb(58, 217, 127);
    margin-left: 12px;
}

.sbar button{
    width: 56px;
    height: 54px;
    outline: none;
    background-color: rgb(255, 208, 54);
    border: 2px solid rgb(255, 208, 54);
    cursor: pointer;
}

.sbar button i{
    color: #fff;
    font-size: 26px;
}