@font-face{
    font-family: proxima;
    src: url(../fonts/FontsFree-Net-Proxima-Nova-Xbold.otf);
}

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(28, 28, 28);
    font-family: proxima;
}

.logo{
    text-align: center;
    margin-top: 78px;
    margin-bottom: 34px;
}

.sbar{
    height: 65px;
    width: 784px;
    text-align: center;
    position: relative;
    left: 308px;
    margin-bottom: 12px;
}

.sbar input{
    width: 589px;
    height: 42px;
    padding-top: 1px;
    padding-left: 16.416px;
    padding-right: 57.456px;
    outline: none;
    border: none;
    background-color: #333333;
    border-color: #333333;
    box-shadow: 0 1px 3px rgb(0 0 0 / 50%);
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
    color: #eeeeee;
    font-size: 1em;
}

.si{
    width: 26px;
    height: 45px;
   padding: 0px 13px;
    border-radius: 0 4px 4px 0;
    color: #999;
    font-size: 1.25em;
    background-color: transparent;
    display: inline-block;
    position: relative;
    right: 58px;
    bottom: 10px;
    cursor: pointer;
}

.si i{
    position: relative;
    top: 10px;
}

.si:hover{
    color: #eeeeee;
    background-color: #444444;
}

.text{
    text-align: center;
}

.text h1{
    font-weight: 800;
    color: #eeeeee;
    padding: 0px 0px 5px;
    margin-bottom: 7px;
}

.text p{
    color: #eeeeee;
    font-size: 17px;
    margin-bottom: 8px;
}

.text span{
    color: #eeeeee;
    font-size: 17px;
    margin-right: 22px;
}

.button{
    text-align: center;
}

.button button{
    border: none;
    width: 241px;
    height: 44px;
    padding: 2px 15px;
    margin-top: 20px;
    font-size: 15px;
    background-color: #678fff;
    border-color: #678fff;
    font-weight: 700;
    border-radius: 10px;
    color: #eeeeee;
    cursor: pointer;
}