body{
    background-color: gray;
}

.post1{
    background-color: black;
    color: white;
    width: 700px;
    font-family: sigmar one;
    margin: 46px auto;
    font-size: 22px;
    padding: 40px 40px;
}

.post1 img{
    width: 340px;
}
.post1 p{
color: yellow;
text-align: justify;
font-family: candara;
font-size: 16px;
}

.post2{
    background-color: black;
    color: white;
    width: 700px;
    font-family: sigmar one;
    margin: 46px auto;
    font-size: 20px;
    padding: 40px 40px;
}

.post2 img{
    width: 340px;
}

.post2 p{
    color: yellow;
    text-align: justify;
    font-family: candara;
    font-size: 16px;
    }

.post3{
    background-color: black;
    color: white;
    width: 700px;
    font-family: sigmar one;
    margin: 46px auto;
    font-size: 20px;
    padding: 40px 40px;
}

.post3 img{
    width: 340px;
}

.post3 p{
    color: yellow;
    text-align: justify;
    font-family: candara;
    font-size: 16px;
}

.post4{
    background-color: black;
    color: white;
    width: 700px;
    font-family: sigmar one;
    margin: 46px auto;
    font-size: 20px;
    padding: 40px 40px;
}

.post4 img{
    width: 340px;
}

.post4 p{
    color: yellow;
    text-align: justify;
    font-family: candara;
    font-size: 16px;
}

.post5{
    background-color: black;
    color: white;
    width: 700px;
    font-family: sigmar one;
    margin: 46px auto;
    font-size: 20px;
    padding: 40px 40px;
}

.post5 img{
    width: 340px;
}

.post5 p{
    color: yellow;
    text-align: justify;
    font-family: candara;
    font-size: 16px;
}

.post6{
    background-color: black;
    color: white;
    width: 700px;
    font-family: sigmar one;
    margin: 46px auto;
    font-size: 20px;
    padding: 40px 40px;
}

.post6 img{
    width: 340px;
}

.post6 p{
    color: yellow;
    text-align: justify;
    font-family: candara;
    font-size: 16px;
}




















