*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    margin-top: 80px;
    width: 100%;
    height: 100vh;
}

.logo{
    width: 100%;
    height: 120px;
    text-align: center;
}

.logo img{
    height: 75px;
    width: 75px;
}

.text{
    width: 100%;
    height: 40px;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 45px;
    color: rgba(0, 0, 0, 1);
    font-size: 35px;
    font-weight: 450;
}

.inputs{
    width: 100%;
    height: 227px;
}

.inputs::after{
    content: ' ';
    display: block;
    clear: both;
}

.inputs input{
    width: 286px;
    height: 42px;
    padding: 0px 16px;
    border: 1px solid rgba(0, 0, 0, .20);
    border-radius: 4px;
    color: rgba(0, 0, 0, 1);
    font-size: 17px;
    display: block;
    margin: 0px auto 12px;
}

.btn{
    width: 100%;
    text-align: center;
    margin-top: 24px;
}

.btn button{
    width: 100px;
    height: 45px;
    outline: none;
    border: none;
    cursor: pointer;
    background: #0a7cff;
    border-radius: 50px;
    color: #fff;
    font-size: 15px;
    border-color: #bec3c9;
}

.checkbox{
    width: 320px;
    height: 18px;
    margin: 0px auto;
    margin-top: 40px;
}

.checkbox input{
    width: 16px;
    height: 16px;
    margin-left: 83px;
    float: left;
}

.checkbox label{
    margin-left: 14px;
    color: #929292;
    font-size: 14px;
    font-weight: normal;
    float: left;
}