*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Helvetica, sans-serif;
}

.logo{
    width: 357px;
    height: 120px;
    margin: 150px auto 25px;
    background-image: url("../img/sprites-min2.png");
    background-repeat: no-repeat;
    background-position: -83px -53px;
}

.sbar{
    width: 605px;
    height: 50px;
    margin: 0px auto;
    text-align: center;
}

.sbar input{
    width: 500px;
    height: 44px;
    padding: 0px 14px;
    color: #555;
    outline: 0px;
    border: 1px solid #ccc;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.sbar input:focus{
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(102 175 233 / 60%);
}

.sbar button{
    width: 70px;
    height: 46px;
    background-color: #f36;
    cursor: pointer;
    outline: none;
    border: 1px solid #f36;
    position: relative;
    top: 6px;
    right: 5px;
}

.sbar button:hover{
    box-shadow: rgb(0 0 0 / 20%) 0 1px 1px;
}

.sbar button img{
    width: 23px;
    height: 23px;
}

