*{
    margin: 0px;
    padding: 0px;
}

@font-face{
    font-family: trajan;
    src: url("../fonts/TrajanPro-Bold.otf");
}

body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 81, 47, 0.7), rgba(221, 36, 118, 0.7));
    font-family: trajan;
}

.form{
    width: 760px;
    height: 432px;
    border-radius: 9px;
    background-image: linear-gradient(to right, peachpuff 50%, grey 50%);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.form::after{
    content: ' ';
    display: block;
    clear: both;
}

.profile{
    width: 50%;
    height: 100%;
    float: left;
}

.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 17%;
    top: 10%;
}

.profile h2{
    position: absolute;
    top: 37%;
    left: 14%;
}

.profile p{
    position: absolute;
    top: 46%;
    left: 10%;
    font-size: 13px;
}

.profile span{
    position: absolute;
    bottom: 95px;
    left: 13%;
    font-size: 13px;
    color: indigo;
}

.fb a{
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 46px;
    left: 7%;
    font-size: 30px;
    display: block;
}

.fb a i{
    transition: 0.5s;
}

.fb a:hover i{
    transform: scale(1.3);
}

.inst a{
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 46px;
    left: 19%;
    font-size: 30px;
    display: block;
}

.inst a i{
    transition: 0.2s;
}

.inst a:hover i{
    transform: scale(1.3);
}

.whtsapp a{
    text-decoration: none;
    color: black;
    position: absolute;
    bottom: 46px;
    left: 31%;
    font-size: 30px;
    display: block;
}

.whtsapp a i{
    transition: 0.3s;
}

.whtsapp a:hover i{
    transform: scale(1.3);
}

.form-input{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

.form-input h1{
    border-bottom: 2px solid maroon;
    width: 260px;
    height: 32px;
    font-size: 25px;
    margin: 5% 17%;
}

.form-input input{
   width: 50%;
   outline: none;
   border: none;
   font-size: 19px;
   padding: 17px 8px;
   border-radius: 12px;
   box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
   border: 2px solid #39CCCC;
   background-color: #DDDDDD;
   margin-bottom: 25px;
}

.form-input textarea{
    width: 50%;
    height: 90px;
    outline: none;
    border: none;
    font-size: 19px;
    padding: 4px 8px;
    border-radius: 12px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border: 2px solid #39CCCC;
    background-color: #DDDDDD;
    margin-bottom: 25px;
}

.form-input .btn{
    width: 100%;
    text-align: center;
}

.form-input .btn button{
    background-image: linear-gradient(to right, #16A085 0%, #F4D03F  51%, #16A085  100%);
    padding: 10px 20px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 19px;
}

.box{
    background-color: grey;
    height: 60px;
    width: 60px;
    position: relative;
    bottom: 50%;
    right: 24px;
    transform: rotate(48deg);
}

