*{
    margin: 0px;
}

.box1{
    width: 100%;
    height: 400px;
    background-color: lightcyan;
    text-align: center;
    font-family: chiller;
    font-size: 100px;
    overflow: auto;
}

.box2{
    width: 100%;
    height: 400px;
    background-image: url('../img/assasins\ creed.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    overflow: auto;
}

.box2 p{
     text-shadow: black 2px 1px;
     text-align: center;
     color: maroon;
     margin-top: 20px;
     font-family: aleo;
     font-size: 30px;
}

.box3{
    width: 100%;
    height: 400px;
    background-color: lightcyan;
    overflow: hidden;
    overflow: auto;
}

.box3 p{
    text-align: center;
    font-family: castellar;
    font-size: 80px;
    margin-top: 104px;
}























