*{
    margin: 0px;
    padding: 0px;
}

.header{
    width: 100%;
    height: 120px;
}

.header .topbar{
    width: 100%;
    height: 80px;
}

.header .topbar img{
    margin-top: 19px;
    margin-left: 43px;
    float: left;
}

.header .topbar .sbar{
    margin-top: 18px;
    float: left;
    width: 720px;
    height: 44px;
    margin-left: 50px;
}

.sbar input{
    width: 706px;
    height: 43px;
    outline: none;
    border: 1px solid #188fff;
    border-radius: 4px 0 0 4px;
    font-size: 14px;
    padding-left: 12px;
}

.sbar input:focus{
    border-color: rgba(82,168,236,.8);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(82 168 236 / 60%);
}

.sbar button{
    border: none;
    height: 44px;
    width: 100px;
    background-color: #188fff;
    border-radius: 0 4px 4px 0;
    float: right;
    position: relative;
    bottom: 45px;
    right: -2px;
    padding-left: 10px;
}

.sbar button:hover{
    border-color: #0f69ff;
    box-shadow: none;
    background-color: #0f69ff;
}

.sbar i{
    color: white;
    font-size: 18px;
    font-weight: 900;
}

.icons{
    width: 256px;
    height: 36px;
    float: left;
    margin-left: 100px;
    position: relative;
    top: 30px;
}

.icons ul {
    list-style: none;
    width: 256px;
    height: 36px;
}

.icons ul li{
    display: inline-block;
}

.icons ul li:nth-child(1) button{
    width: 68px;
    height: 27px;
    text-decoration: none;
    padding: 3px 12px 5px;
    border-radius: 14px;
    border-width: 2px;
    font-weight: 600;
    font-size: 12px;
    color: #4d00ae;
    border-color: #6001d2;
    position: relative;
    top: -37px;
    left: 0px;
}

.icons ul li:nth-child(1) button:hover{
    color: #fff;
    background-color: #6001d2;
    border-width: 0;
}

.icons ul li:nth-child(2) img{
    width: 38px;
    height: 38px;
    position: relative;
    top: -19px;
    left: -17px;
}

.icons ul li:nth-child(3) img{
    width: 38px;
    height: 35px;
    position: relative;
    top: -23px;
    left: -41px;
}

.icons ul li:nth-child(4){
    width: 38px;
    height: 35px;
    position: relative;
    top: -59px;
    left: 197px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
}

.yahoo-menu ul li:nth-child(1) i{
    font-size: 15px;
    padding-right: 3px;
}

.yahoo-menu ul li {
    display: inline-block;
    margin-top: 20px;
}

.yahoo-menu ul li a {
    font-weight: bolder;
    font-size: 14px;
    padding: 10px 20px;
    display: inline-block;
    color: #444;
    text-decoration: none;
}

.yahoo-menu{
    position: absolute;
    left: 33px;
    top: 62px;
}


  

