*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    width: 350px;
    height: 560px;
    padding: 24px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(238, 239, 242);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.form .title{
    font-size: 24px;
    margin-bottom: 24px;
    font-weight: normal;
    color: rgb(34, 34, 34);
    text-align: center;
}

.inputs{
    width: 100%;
    height: 270px;
}

.input1{
    height: 92px;
}

.input1 label{
    height: 20px;
    font-size: 14px;
    color: rgb(109, 115, 120);
}

.input1 input{
    margin-top: 4px;
    width: 316px;
    height: 18px;
    padding: 12px 16px;
    outline: none;
    border: 1px solid rgb(215, 216, 219);
    border-radius: 4px;
    color: rgb(34, 34, 34);
    font-size: 16px;
}

.input1 input:focus{
    box-shadow: 0 0 0px 2px #000000;
}

.input2{
    height: 92px;
}

.password-and-forgot-password{
    height: 20px;
    font-size: 14px;
    color: rgb(109, 115, 120);
}

.password-and-forgot-password a{
    text-decoration: none;
    color: rgb(8, 112, 209);
    float: right;
}

.password-and-forgot-password a:hover{
    text-decoration: underline;
}

.input2 input{
    margin-top: 4px;
    width: 316px;
    height: 18px;
    padding: 12px 16px;
    outline: none;
    border: 1px solid rgb(215, 216, 219);
    border-radius: 4px;
    color: rgb(34, 34, 34);
    font-size: 16px;
}

.input2 input:focus{
    box-shadow: 0 0 0px 2px #000000;
}

.inputs button{
    width: 350px;
    height: 48px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(8, 112, 209);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    border-width: 2px;
    border: 1px solid rgb(41, 134, 247);;
    border-radius: 28px;
    margin-bottom: 40px;
}

.inputs button:hover{
    background-color: rgb(41, 134, 247);
    border-color: rgb(41, 134, 247);
    color: rgb(255, 255, 255);
}


.login-with-apple{
    width: 350px;
    height: 48px;
}

.login-with-apple button{
    width: 350px;
    height: 48px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    border-width: 2px;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 28px;
    margin-bottom: 16px;
}

.login-with-apple svg{
    position: relative;
    right: 74px;
    top: 2px;
}

.login-with-apple span{
    position: relative;
    bottom: 4px;
}

.login-with-apple button:hover{
    background-color: rgb(82, 85, 88);
    border-color: rgb(82, 85, 88);
}

.login-with-facebook{
    width: 350px;
    height: 48px;
}

.login-with-facebook button{
    width: 350px;
    height: 48px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(60, 90, 150);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: bold;
    border-width: 2px;
    border: 1px solid rgb(60, 90, 150);
    border-radius: 28px;
    margin-bottom: 16px;
}

.login-with-facebook svg{
    position: relative;
    right: 58px;
    top: 2px;
}

.login-with-facebook span{
    position: relative;
    bottom: 4px;
}

.login-with-facebook button:hover{
    background-color: rgb(41, 72, 125);
    border-color: rgb(41, 72, 125);
}

.login-with-google{
    width: 350px;
    height: 48px;
}

.login-with-google button{
    width: 350px;
    height: 48px;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: rgb(255, 255, 255);
    color: rgb(109, 115, 120);
    font-size: 16px;
    font-weight: bold;
    border-width: 2px;
    border: 2px solid rgb(215, 216, 219);
    border-radius: 28px;
    margin-bottom: 16px;
}

.login-with-google svg{
    position: relative;
    right: 70px;
    top: 2px;
}

.login-with-google span{
    position: relative;
    bottom: 4px;
}

.login-with-google button:hover{
    background-color: rgb(247, 248, 250);
    border-color: rgb(215, 216, 219);
    color: rgb(109, 115, 120);
}

.sign-up{
    width: 350px;
    height: 20px;
    margin-top: 40px;
    text-align: center;
}

.sign-up a{
    text-decoration: none;
    color: rgb(41, 134, 247);
    position: relative;
    bottom: 4px;
}

.sign-up a:hover{
    text-decoration: underline;
}
