*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
    width: 348px;
    height: 358px;
    padding: 10px 0px;
    border: 1px solid #dbdbdb;
    margin-bottom: 10px;
    border-radius: 1px;
    margin: 35px auto 0px;
}

.container img{
    width: 175px;
    height: 51px;
    margin-top: 22px;
    margin-bottom: 12px;
    margin-left: 86px;
    margin-right: 86px;
}

.inputs-and-credentials{
    width: 100%;
    height: 263px;
    margin-bottom: 10px;
}

.inputs-and-credentials:after{
    content: ' ';
    display: block;
    clear: both;
}

.inputs-and-credentials input:nth-child(1){
    margin-top: 24px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 6px;
    padding: 9px 0 7px 8px;
    width: 250px;
    outline: none;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    background: #fafafa;
    color: #262626;
    font-size: 16px;
}

::placeholder{
    font-size: 13px;
    position: relative;
    bottom: 2px;
}

.inputs-and-credentials input:nth-child(1):focus{
    border: 1px solid rgb(168, 168, 168);
}

.inputs-and-credentials input:nth-child(2){
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 6px;
    padding: 9px 0 7px 8px;
    width: 250px;
    outline: none;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    background: #fafafa;
    color: #262626;
    font-size: 16px;
}

.inputs-and-credentials input:nth-child(2):focus{
    border: 1px solid rgb(168, 168, 168);
}

.button{
    width: 268px;
    height: 30px;
    margin: 8px 40px;
}

.button button{
    width: 260px;
    height: 30px;
    padding: 5px 9px;
    border: 1px solid transparent;
    background-color: #0095f6;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13.5px;
    font-weight: 400;
    color: #fff;
}

.or{
    width: 268px;
    height: 15px;
    margin: 20px 40px 18px;
}

.or hr:nth-child(1){
    width: 100px;
    position: relative;
    top: 7px;
    border: 1px solid rgb(219, 219, 219);
    float: left;
}

.or span{
    width: 17px;
    height: 15px;
    margin: 0px 18px;
    color: #8e8e8e;
    font-size: 13px;
    font-weight: 600;
    position: relative;
    bottom: 1px;
    float: left;
}

.or hr:nth-child(3){
    width: 100px;
    position: relative;
    top: 7px;
    border: 1px solid rgb(219, 219, 219);
    float: left;
}

.login-with-facebook{
    width: 268px;
    height: 20px;
    margin: 8px 40px;
    text-align: center;
}

.login-with-facebook a{
    text-decoration: none;
}

.login-with-facebook a i{
    font-size: 20px;
    color: rgb(56, 81, 133);
    margin-right: 1px;
}

.login-with-facebook a span{
    color: #385185;
    font-size: 14px;
    font-weight: 600;
    position: relative;
    bottom: 2px;
}

.forgot-password{
    width: 348px;
    height: 14px;
    margin-top: 12px;
    font-size: 12px;
    text-align: center;
}

.forgot-password a{
    text-decoration: none;
    color: #00376b;
}

.sign-up{
    width: 348px;
    height: 41px;
    padding: 10px 0px;
    margin-top: 30px;
    text-align: center;
    border: 1px solid rgb(219, 219, 219);
}

.sign-up p{
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
    color: #262626;
    font-size: 14px;
    font-weight: 600;
}

.sign-up p a{
    text-decoration: none;
    color: #0095f6;
    font-size: 14px;
    font-weight: 600;
}