*{
    margin: 0px;
    padding: 0px;
}

.heart{
    height: 350px;
    width: 350px;
    background-color: peachpuff;
    margin: 130px auto;
    text-align: center;
    border-radius: 50%;
    animation: pulse 1s infinite;
}

.heart img{
    width: 300px;
    height: 300px;
    position: relative;
    top: 27px;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(168, 63, 57, 0.4);
    }
    5% {
        transform: scale(1.05);
    }
    15% {
        transform: scale(1);
    }
    70% {
        box-shadow: 0 0 0 50px rgba(168, 63, 57, 0);
    }
    100% {
        box-shadow: 0 0 0 100px rgba(168, 63, 57, 0);
    }
}