*{
    margin: 0px;
    padding: 0px;
}

input:focus,
textarea:focus {
  outline: none;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form{
    width: 370px;
    height: 340px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 95px;
    left: 500px;
    display: inline-block;
}

.form h1{
    width: 106px;
    position: relative;
    left: 130px;
    color: white;
    font-size: 20px;
    margin-top: 35px;
    border-bottom: 2px maroon solid;
}

.form span{
    display: block;
    color: white;
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 17px;
}

.form input{
    margin-top: 15px;
    color: white;
    display: block;
    width: 80%;
    position: relative;
    left: 10%;
    background-color: rgb(0, 0, 0);
    border: none;
    border-bottom: 2px solid rgb(68, 68, 67);
}

.form button{
    background-color: rgb(130, 20, 5);
    outline: none;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    height: 40px;
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 17px;
    font-size: 20px;
}

.form p{
    color: #fff;
    position: relative;
    left: 10%;
    top: 4%;
    font-weight: 100;
    font-size: 13px;
    cursor: pointer;
}

.icon{
    width: 70px;
    height: 70px;
    background-color: rgb(130, 20, 5);;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 47%;
    top: 55px;
}

.icon .ic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #fff solid;
    position: relative;
    left: 9px;
    top:9px;
}

.icon i{
    font-size: 33px;
    position: relative;
    top: 6px;
}