*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: linear-gradient(to right, rgba(8, 80, 120, 0.7), rgba(133, 216, 206, 0.7)),
     url(../img/image.png);
    height: 100vh;
    width: 100px;  
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

.form{
    height: 70%;
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fff;
    background-image: linear-gradient(149deg, rgba(255, 154, 158, 0.5), rgba(250, 208, 196, 0.5));
    border-radius: 4px;
}

.form h2{
    width: 80%;
    position: relative;
    left: 10%;
    margin-top: 15px;
    color:darkslategrey;
}

.form input:nth-child(1), input:nth-child(2), input:nth-child(3), input:nth-child(4){
    outline: none;
    border: none;
    background-color:floralwhite;
    color: black;
    height: 30px;
    width:70%;
    position: relative;
    left: 10%;
    border-radius: 10px;
    padding: 5px 38px 0px;
    margin-top: 15px;
}

.form textarea{
    outline: none;
    border: none;
    background-color: floralwhite;
    color: black;
    height: 95px;
    width:76%;
    position: relative;
    left: 10%;
    border-radius: 10px;
    padding: 5px 16px 0px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.form input:nth-child(6){
    display: block;
    position: relative;
    left: 10%;
    width: 30px;
    margin-top: 15px;
}

.form input.ckbx{
    transform: scale(2);
}

.form label{
    position: relative;
    left: 15%;
    bottom: 12px;
}

.form button{
    width: 150px;
    height: 45px;
    display: block;
    position: relative;
    left: 10%;
    margin-top: 8px;
    border: none;
    outline: none;
    background-image: linear-gradient(
109.6deg
, rgb(62, 161, 219) 11.2%, rgb(93, 52, 236) 100.2%);
font-size: 15px;
border-radius: 30px;
color: #fff;
cursor: pointer;
}

.container .icon1 img{
    position: absolute;
    top: 25.7%;
    left: 31%;
}

.icon2 img{
    position: absolute;
    top: 33.7%;
    left: 31%;
}

.icon3 img{
    position: absolute;
    top: 41.7%;
    left: 31%;
}


