*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Helvetica, sans-serif;
    background-color: #191919;
}

.logo{
    width: 100%;
    height: 82px;
    text-align: center;
    margin: 100px auto 0px;
    margin-bottom: 45px;
}

.logo img{
    width: 465px;
    height: 82px;
}


.sbar{
    width: 610px;
    height: 45px;
    margin: 0px auto;
}

.sbar::after{
    content: ' ';
    display: block;
    clear: both;
}

.sbar svg{
    width: 15px;
    height: 15px;
}

.sbar .key{
    width: 50px;
    height: 44px;
    background-color: transparent;
    outline: none;
    border: 1px solid #585858;
    border-radius: 5px;
    border-right: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
    float: left;
}

.divider1{
    width: 1.5px;
    height: 55%;
    background-color: #585858;
    position: relative;
    top: 9px;
    right: 2px;
    float: left;
}

.sbar input{
    width: 475px;
    height: 28px;
    padding: 7px 12px;
    background-color: transparent;
    color: #fff;
    outline: none;
    border: 1px solid #585858;
    border-left: none;
    border-right: none;
    position: relative;
    right: 2px;
    float: left;
}

.sbar input:focus{
    box-shadow: 0px 0px 0px 1px #FFFFFF;
    border-radius: 6px;
}

.divider2{
    width: 1.5px;
    height: 55%;
    background-color: #585858;
    position: relative;
    top: 9px;
    float: left;
}

.search{
    background-color: transparent;
    outline: none;
    width: 50px;
    height: 44px;
    border: 1px solid #585858;
    border-radius: 5px;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
    position: relative;
    right: 4px;
    float: left;
}

.txt{
    text-align: center;
    margin-top: 20px;
}

.txt a{
    text-decoration: none;
}

.txt span{
    color: #e6e6e6;
    position: relative;
    bottom: 8px;
    font-size: 13px;
}