*{
    margin: 0px;
    padding: 0px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to bottom,rgba(0,0,0,.5) 0%,rgba(0,0,0,0.5) 100%),
    url("../img/bg\ image.jpg");
}

.header{
    width: 100%;
    height: 90px;
}

.header a{
    margin-left: 3%;
}

.header a svg{
    height: 45px;
    width: 167px;
    margin-top: 26px;
    fill: #e50914;
}

.sign-up-form{
    height: 100%;
   margin: 0px auto;
   margin-bottom: 90px;
}

.sign-up-form .container{
    width: 314px;
    height: 560px;
    padding: 60px 68px 40px;
    background-color: rgba(0,0,0,.75);
    border-radius: 4px;
    margin: 0px auto;
}

.container h1{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
}

.container input:nth-child(2){
    background: #333;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    height: 34px;
    font-size: 16px;
    width: 100%;
    margin: 0px auto;
    line-height: 50px;
    box-sizing: border-box;
    padding: 24px 20px;
    margin-bottom: 16px;
}

.container input:nth-child(3){
    background: #333;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    height: 34px;
    font-size: 16px;
    width: 100%;
    margin: 0px auto;
    line-height: 50px;
    box-sizing: border-box;
    padding: 24px 20px;
    margin-bottom: 16px;
}

.container .si{
    margin: 24px 0 12px;
    background: #e50914;
    display: inline-block;
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 13.5px 0px;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
}

.checkbox{
    width: 100%;
    height: 22px;
    padding-top: 2px;
}

.checkbox input{
    appearance: none;
    height: 16px;
    width: 16px;
    cursor: pointer;
    background: rgb(115, 115, 115);
}

.checkbox input:checked{
    background-color: grey;
    background-image: url("../img/checked.png");
}

.checkbox label{
    color: rgb(179, 179, 179);
    font-size: 13px;
    cursor: pointer;
    position: relative;
    bottom: 3px;
}

.checkbox a{
    text-decoration: none;
    float: right;
    color: #b3b3b3;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

.checkbox a:hover{
    text-decoration: underline;
}

.login-with-fb{
    margin-top: 62px;
    width: 160px;
    height: 20px;
}

.login-with-fb a{
    text-decoration: none;
}

.login-with-fb a img{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.login-with-fb a span{
    color: #737373;
    font-size: 13px;
    font-weight: 500;
    position: relative;
    bottom: 5px;
}

.sign-up-now{
    width: 314px;
    height: 18px;
    margin-top: 16px;
    color: #737373;
    font-size: 16px;
    font-weight: 500;
}

.sign-up-now a{
    text-decoration: none;
    color: #fff;
}

.recaptcha-paragraph{
    margin-top: 11px;
    width: 314px;
    height: 134px;
    font-size: 13px;
    color: #8c8c8c;
}

.recaptcha-paragraph button{
    outline: none;
    border: none;
    background-color: transparent;
    color: #0071eb;
    cursor: pointer;
}

.recaptcha-paragraph button:hover{
    text-decoration: underline;
}


