*{
    padding: 0px;
    margin: 0px;
}

.container{
    height: 65px;
}

.logo{
    margin-left: 34px;
    margin-top: 18px;
    float: left;
}

.sbar{
   float: left;
   width: 724px;
   height: 62px;
   margin-left: 193px;
   margin-top: 16px;
}

.sbar input{
    width: 519px;
    height: 38px;
    border: 1px solid #000;
    padding: 0px 5px;
    font-size: 20px;
    outline: none;
}

.sbar button{
    width: 100px;
    height: 40px;
    padding: 1px 6px;
    background-color: #e81d82;
    border: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    bottom: 2px;
}

.sbar button:hover{
    background-color: #ef62a8;
}

.icons{
    width: 222px;
    height: 50px;
    float: right;
}

.icons .login{
    color: #333;
    width: 109px;
    height: 28px;
    margin-top: 28px;
}

.icons .login:hover{
    fill: red;
    color: chartreuse;
}

.icons .login svg{
    fill: #333;
    height: 17px;
    line-height: 18px;
    margin-right: 10px;
    width: 17px;
    cursor: pointer;
}

.icons .login svg:hover{
    fill: #39f;
}

.icons .login span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

.icons .login span:hover{
    color: #39f;
}

.message i{
    float: right;
    position: absolute;
    right: 82px;
    top: 32px;
    font-size: 17px;
    cursor: pointer;
}

.message i:hover{
    color: #39f;
}

.dropdown svg{
    float: right;
    position: absolute;
    right: 45px;
    top: 30px;
    cursor: pointer;
}