*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    width: 100%;
    height: 47px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 18px;
}

.form{
    width: 350px;
    height: 437px;
    margin: 0px auto;
    border: 1px #ddd solid;
    border-radius: 4px;
}

.container{
    width: 296px;
    height: 395px;
    padding: 20px 26px;
}

.container:after{
    content: ' ';
    display: block;
    clear: both;
}

.container h1{
    font-weight: 400;
    font-size: 28px;
    margin-bottom: 14px;
}

.container label{
    font-weight: 700;
    font-size: 13px;
    color: #111;
}

.container input{
    width: 280px;
    height: 23px;
    margin-top: 4px;
    margin-bottom: 14px;
    padding: 3px 7px;
    outline: none;
    border: none;
    border: 1px solid #a6a6a6;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 50%), 0 1px 0 rgb(0 0 0 / 7%) inset;
}

.container input:focus{
    border-color: #e77600;
    box-shadow: 0 0 3px 2px rgb(228 121 17 / 50%);
}

.pafp{
    width: 100%;
}

.pafp a{
    text-decoration: none;
    position: relative;
    left: 90px;
    color: #0066c0;
    font-size: 13px;
}

.pafp a:hover{
    text-decoration: underline;
    color: #c45500;
}

.container label:nth-child(4){
    height: 100%;
    font-weight: 700;
    font-size: 13px;
    color: #111;
}

.container button{
    width: 294px;
    height: 29px;
    background: #f0c14b;
    color: #111;
    outline: none;
    border: none;
    cursor: pointer;
    border: 0.1em solid rgb(130, 133, 138);
    border-width: 0.01em;
    background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
    border-radius: 3px;
    margin-top: 12px;
}

.condition{
    width: 296px;
    height: 36px;
    margin-top: 18px;
}

.condition p{
    font-size: 12px;
    color: #111;
}

.condition p a{
    text-decoration: none;
    color: #0066c0;
}

.condition p a:hover{
    color: #c45500;
    text-decoration: underline;
}

.checkbox{
    width: 296px;
    height: 21px;
    margin-top: 18px;
    margin-bottom: 26px;
}

.checkbox input{
    width: 13px;
    height: 13px;
}

.checkbox label{
    font-size: 13px;
    font-weight: 400;
    color: #111;
    position: relative;
    bottom: 2px;
}

.checkbox a{
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
    color: #111;
    position: relative;
    bottom: 2px;
    color: #0066c0;
}

.checkbox a:hover{
    color: #c45500;
    text-decoration: underline;
}

.checkbox a:hover i{
    opacity: 1;
}

.checkbox a i{
    color: #111;
    opacity: .6;
}

.divider{
    width: 296px;
    height: 12px;
    margin-bottom: 14px;
}

.divider hr{
    width: 31%;
    border: 1px solid rgb(231, 231, 231);
    float: left;
}

.divider h5{
    color: #767676;
    font-size: 12px;
    font-weight: 400;
    padding: 0px 7px;
    position: relative;
    bottom: 6px;
    float: left;
}

.create-account{
    width: 294px;
    height: 29px;
    text-align: center;
    background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
    border-radius: 2px;
    box-shadow: 0 1px 0 rgb(255 255 255 / 60%) inset;
    border: 0.01rem solid rgb(130, 133, 138);
    cursor: pointer;
}

.create-account .ca{
    position: relative;
    top: 5px;
    text-decoration: none;
    color: #111;
    font-size: 13px;
}


