*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Helvetica, sans-serif;
}

.logo{
    width: 270px;
    height: 162px;
    margin: 150px auto 0px;
    margin-bottom: 40px;
}

.logo img{
    width: 270px;
    height: 162px;
}

.sbar{
    width: 660px;
    height: 55px;
    margin: 0px auto;
    text-align: center;
}

.sbar input{
    width: 557px;
    height: 30px;
    padding: 9px 14px;
    outline: none;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    color: #363636;
    font-size: 18px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

::placeholder{
    color: rgb(194, 194, 194);
}

.sbar input:hover{
    border-color: rgb(181, 181, 181);
}

.sbar button{
    width: 64px;
    height: 50px;
    transform: translate(-5px, 4px);
    outline: none;
    border: 1px solid #dbdbdb;
    border-left: none;
    border-radius: 4px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: transparent;
    cursor: pointer;
}

.sbar img{
    width: 22px;
    height: 22px;
}

.sbar button:hover{
    border-color: rgb(181, 181, 181);
}

