*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100%;
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(132, 134, 136);
}

.form{
    width: 503px;
    height: 445px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 9px;
    background-color: cornsilk;
}

.form img{
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.name{
    width: 100%;
}

.name h3{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
}

.name input{
    display: inline-block;
    outline: none;
    border: none;
    background-color: cornsilk;
    color: black;
    height: 23px;
    width:40%;
    border-bottom: 2px solid rgb(177, 177, 177);
    margin-top: 14px;
    margin-left: 20px;
    font-size: 15px;
}

.email{
    width: 100%;
}

.email h3{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
}

.email input{
    display: inline-block;
    outline: none;
    border: none;
    background-color: cornsilk;
    color: black;
    height: 23px;
    width:40%;
    border-bottom: 2px solid rgb(177, 177, 177);
    margin-top: 14px;
    margin-left: 60px;
    font-size: 15px;
}

.phone{
    width: 100%;
}

.phone h3{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
}

.phone input{
    display: inline-block;
    outline: none;
    border: none;
    background-color: cornsilk;
    color: black;
    height: 23px;
    width:40%;
    border-bottom: 2px solid rgb(177, 177, 177);
    margin-top: 14px;
    margin-left: 54px;
    font-size: 15px;
}

.txt{
    width: 100%;
    height: 120px;
}

.txt h3{
    margin-top: 15px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    bottom: 89px;
}

.txt textarea{
    display: inline-block;
    outline: none;
    border: none;
    background-color: cornsilk;
    color: black;
    height: 100px;
    width:40%;
    border-bottom: 2px solid rgb(177, 177, 177);
    margin-top: 14px;
    margin-left: 34px;
    font-size: 15px;
}

.btn button{
    position: absolute;
    left: 40%;
   width: 20%;
   height: 40px;
    background-color: rgb(88, 184, 69);
    outline: none;
    border: none;
    border-radius: 30px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}






