*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Helvetica, sans-serif;
}

header{
    width: 1285px;
    height: 52px;
    padding: 32px;
}

header::after{
    content: ' ';
    display: block;
    clear: both;
}

.logo svg{
    width: 167px;
    height: 46px;
    cursor: pointer;
    float: left;
}

.menu{
    width: 703px;
    height: 52px;
    float: right;
}

.menu ul .abt{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    width: 101px;
    height: 52px;
    margin-left: 40px;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    color: rgb(118, 118, 118);
}

.menu ul .abt:hover{
    color: rgb(51, 51, 51);
}

.menu ul .rsc{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    width: 151px;
    height: 52px;
    margin-left: 40px;
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    color: rgb(118, 118, 118);
}

.menu ul .rsc:hover{
    color: rgb(51, 51, 51);
}

.menu ul .su{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    width: 131px;
    height: 36px;
    margin-left: 40px;
    font-size: 1.25rem;
    font-weight: 700;
}

.menu ul .su a{
    text-decoration: none;
    color: rgb(118, 118, 118);
}

.menu ul .su a:hover{
    color: rgb(51, 51, 51);
}

.menu ul .ext{
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    width: 146px;
    height: 52px;
    margin-left: 40px;
    font-size: 1.25rem;
    font-weight: 700;
}

.menu ul .ext a{
    text-decoration: none;
    color: rgb(118, 118, 118);
}

.menu ul .ext i{
    color: rgb(118, 118, 118);
}

.menu ul .ext a:hover{
    color: rgb(51, 51, 51);
}

.menu ul .ext a:hover i{
    color: rgb(51, 51, 51);
}

.title{
    text-align: center;
}

.title h2{
    font-size: 2.25rem;
    padding-bottom: 16px;
    color: #333;
    font-weight: 700;
}

.title h5{
    color: #333;
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 32px;
}

.sbar{
    width: 755px;
    height: 81px;
    margin: 0px auto;
}

.sbar input{
    width: 522px;
    height: 51px;
    padding: 13px 0px;
    padding-left: 24px;
    padding-right: 20px;
    outline: none;
    border: 2px solid rgb(216, 216, 216);
    border-radius: 4px;
    font-size: 1.75rem;
}

.sbar input:hover{
    border: 2px solid rgb(176, 176, 176);
}

.sbar input:focus{
    border: 2px solid rgb(176, 176, 176);
}

.sbar button{
    width: 178px;
    height: 81px;
    outline: none;
    border: none;
    background-color: rgb(226, 54, 0);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    position: relative;
    bottom: 1px;
    right: 6px;
}

.sbar button:hover{
    background-color: rgb(255, 105, 51);
}

.learn-more{
    width: 748px;
    height: 19px;
    margin: 0px auto;
    text-align: center;
    margin-top: 24px;
    font-size: 13px;
}

.learn-more a{
    text-decoration: none;
    color: #e23600;
}

.learn-more a:hover{
    text-decoration: underline;
    color: currentColor;
}

