*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(242, 242, 242);
}

.container{
    width: 306px;
    height: 347px;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #EBEBEB;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 4%);
    margin: 50px auto;
}

.container img{
    width: 40px;
    height: 40px;
    margin: 0px 133px 5px;
}

.container h1{
    width: 270px;
    height: 32px;
    margin: 0px 18px 0px;
    font-size: 24px;
    font-weight: 800;
    text-align: center;
    color: #16191C;
}

.inputs{
    width: 306px;
    height: 245px;
    margin-top: 24px;
}

.inputs label{
    color: #656B73;
    height: 16px;
    font-size: 12px;
    font-weight: 600;
}

.inputs input{
    width: 292px;
    height: 42px;
    padding-left: 12px;
    background: #F7F7F7;
    border-radius: 4px;
    border: 1px solid #F7F7F7;
    box-shadow: 0 0 0 0 transparent;
    display: block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
    transition: box-shadow 0.15s ease-out 0.15s, border-color 0.15s ease-out, background 0.15s ease-out 0.15s, color 0.15s ease-out;
    outline: none;
    margin-top: 10px;
}

.inputs input:hover{
    border-color: #FFD301;
}

.inputs input:focus{
    border-color: transparent;
    border-bottom-color: #FFD301;
    box-shadow: 0 1px 0 0 #ffd301;
    background: #F2F2F2;
    color: #343A40;
}

.inputs .forgot-password{
    width: 306px;
    height: 15px;
    text-align: right;
    margin-top: -12px;
    margin-bottom: 16px;
}

.inputs .forgot-password a{
    text-decoration: none;
    font-size: 13px;
    color: #656B73;
    border-bottom: 2px solid transparent;
    transition: all .1s ease-in;
    font-weight: 400;
}

.forgot-password a:hover{
    color: #16191C;
    border-bottom: 2px solid #FFD301;
}

.button{
    width: 306px;
    height: 40px;
    text-align: center;
}

.button button{
    width: 90px;
    height: 40px;
    font-size: 14px;
    background-color: #FFFC00;
    color: #16191C;
    font-weight: 500;
    transition: all 150ms ease-in-out;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 45px;
}