*{
    margin: 0px;
    padding: 0px;
}

body{
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(220, 36, 36, 1), rgba(74, 86, 157, 1));
}    

.form{
    width: 645px;
    height: 432px;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 9px;
}

.form img{
    height: 432px;
    position: absolute;
    right: 0px;
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}

.title{
    width: 50%;
    text-align: center;
    margin-top: 15px;
}

.title p{
    width: 100%;
    text-align: justify;
    color: rgb(127, 127, 127);
    font-size: 11px;
    position: relative;
    left: 7%;
    margin-top: 5px;
}

.cs{
    margin-top: 10px;
   float: left;
   margin-left: 16px;
}

.cs .address{
   width: 84px;
   height: 85px;
   font-size: 13px;
}

.address p{
    color: rgb(127, 127, 127);
}

.mail{
    margin-top: 10px;
    float: left;
    margin-left: 30px;
}

.mail .ml{
   width: 84px;
   height: 85px;
   font-size: 13px;
}

.ml p{
    color: rgb(127, 127, 127);
}

.phone{
    margin-top: 10px;
    float: left;
    margin-left: 43px;
}

.phone .phn{
   width: 84px;
   height: 85px;
   font-size: 13px;
}

.phn p{
    color: rgb(127, 127, 127);
}

.inputs input{
    outline: none;
    border: none;
    background-color: rgb(231, 231, 231);
    color: black;
    height: 22px;
    width:45%;
    border-radius: 30px;
    padding: 5px 10px 0px;
    margin-top: 15px;
    display: block;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.inputs textarea{
    outline: none;
    border: none;
    background-color: rgb(231, 231, 231);
    color: black;
    height: 60px;
    width:45%;
    border-radius: 16px;
    padding: 5px 10px 0px;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 8px;
}

.inputs button{
    width: 30%;
    height: 35px;
    background-color: rgb(220, 180, 91);
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 10px;
    display: block;
    margin-left: 65px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}
