*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body::after{
    content: ' ';
    display: block;
    clear: both;
}

.sidebar{
    width: 38%;
    height: 100vh;
    background: #f1cdd7;
    color: #865c6c;
    float: left;
    overflow: auto;
}

.logo{
    width: 386px;
    height: 113px;
    padding: 64px 64px 30px;
}

.logo a svg{
    width: 90px;
    height: 22px;
    fill: rgb(145, 104, 119);
    opacity: 0.7;
    margin-bottom: 30px;
}

.logo a svg:hover{
    opacity: 1;
}

.logo h1{
    width: 356px;
    height: 60px;
    font-size: 25px;
}

.form{
    width: 62%;
    height: 100vh;
    float: left;
}

.top-bar{
    width: 90%;
    height: 20px;
    padding: 30px 30px 0;
    text-align: right;
}

.top-bar .nam{
    color: #000;
    font-size: 14px;
}

.top-bar .sun{
    color: #4f3cc9;
    text-decoration: none;
    font-size: 14px;
}

.container{
    width: 416px;
    height: 398px;
    padding: 130px 60px 0;
   margin: auto;
}

.container .sid{
    height: 29px;
    margin-bottom: 26px;
    font-size: 24px;
    font-weight: 700;
    color: #0d0c22;
}

.sign-in-with-google-or-twitter{
    height: 40px;
    margin-bottom: 40px;
}

.google-button{
    width: 250px;
    height: 40px;
    margin-right: 16px;
    float: left;
}

.google-button::after{
    content: ' ';
    display: block;
    clear: both;
}

.google-button .gb{
    text-decoration: none;
}

.google-button .btn{
    width: 250px;
    height: 40px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #1a73e8;
    font-size: 14px;
    border-radius: 4px;
}

.btn:hover .siwg{
    background-color: rgb(81, 148, 238);
    border-radius: 4px;
}

.btn .gl{
    width: 15%;
    height: 36px;
    background-color: #fff;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    position: relative;
    top: 2px;
    left: 2px;
    float: left;
}

.btn .gl svg{
    width: 18px;
    height: 18px;
    position: relative;
    top: 9px;
}

.siwg{
    width: 85%;
    height: 40px;
    text-align: center;
    float: left;
    transition-duration: 0.218s, 0.218s;
    transition-timing-function: ease, ease;
}

.siwg span{
    position: relative;
    top: 10px;
    color: #fff;
    font-size: 14px;
}

.twitter-button a{
    width: 15px;
    height: 20px;
    padding: 10px 16px;
    cursor: pointer;
    background-color: #f2f2f2;
    transition: color 200ms ease;
    border-radius: 8px;
    float: left;
}

.twitter-button a:hover{
    background-color: #e5e5e5;
}

.twitter-button .tb svg{
    fill: #6e6d7a;
}

.divider{
    height: 16px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.divider hr{
    width: 40%;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    float: left;
}

.divider span{
    font-size: 14px;
    color: #6e6d7a;
    float: left;
    position: relative;
    bottom: 8px;
    padding: 0px 16px;
}

.sign-in-form{
    height: 238px;
    width: 100%;
}

.inputs{
    width: 416px;
    height: 176px;
}

.inputs .input1{
    width: 416px;
    height: 82px;
    margin: 0px 0px 12px;
}

.input1 label{
    display: block;
    margin-top: 24px;
    margin-bottom: 6px;
    color: #0d0c22;
    font-size: 15px;
    font-weight: bold;
}

.input1 input{
    width: 382px;
    height: 18px;
    padding: 10px 16px;
    margin-right: 8px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 16px;
    outline: none;
    border-radius: 8px;
    color: #0d0c22;
    background-color: #f3f3f4;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}

.input1 input:hover{
    background-color: #fff;
    border-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.input1 input:focus{
    background-color: #fff;
    border-color: rgba(234,76,137,0.4);
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.input2{
    width: 416px;
    height: 82px;
    margin: 0px 0px 12px;
}

.password-and-forgot-password{
    width: 100%;
    height: 17px;
    display: block;
    margin-top: 20px;
    margin-bottom: 6px;
    color: #0d0c22;
    font-size: 15px;
    font-weight: bold;
}

.password-and-forgot-password a{
    color: #4f3cc9;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    float: right;
}

.input2 input{
    width: 382px;
    height: 18px;
    padding: 10px 16px;
    margin-right: 8px;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 400;
    padding: 10px 16px;
    outline: none;
    border-radius: 8px;
    color: #0d0c22;
    background-color: #f3f3f4;
    transition: background-color 200ms ease, outline 200ms ease, color 200ms ease, box-shadow 200ms ease, -webkit-box-shadow 200ms ease;
}

.input2 input:hover{
    background-color: #fff;
    border-color: rgba(0,0,0,0.1);
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.input2 input:focus{
    background-color: #fff;
    border-color: rgba(234,76,137,0.4);
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.sign-in-button{
    margin-top: 22px;
}

.sign-in-button button{
    width: 200px;
    height: 40px;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    background-color: #ea4c89;
    transition: color 200ms ease;
    border-radius: 8px;
}

.sign-in-button button:hover{
    background-color: #f082ac;
}

