*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../img/sh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 9px;
    cursor: pointer;
    transition: 1s;
}

.box .container{
    width: 100%;
    height: 100%;
    border-radius: 9px;
    transition: 0.6s;
}

.box .container:hover{
    background-color: rgba(0, 0, 0, 0.6);
}

.box .container h2{
    text-align: center;
    color: transparent;
    transition: 0.6s;
}

.box .container:hover h2{
    transform: translate(0px, 100px);
    color: white;
}

.box .container .xt{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.box .container p{
    width: 65%;
    color: transparent;
    transition: 0.6s;
    margin: 0px auto;
}

.box .container:hover p{
    transform: translate(0px, -175px);
    color: white;
}