*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Helvetica, sans-serif;
}

.logo{
    width: 100%;
    height: 189px;
    text-align: center;
    margin: 100px auto 0px;
}

.sbar{
    width: 610px;
    height: 45px;
    margin: 0px auto;
}

.sbar input{
    text-align: center;
    width: 525px;
    height: 25px;
    padding-top: 6px;   
    padding-bottom: 6px;   
    padding-left: 12px;   
    padding-right: 3px;
    outline: none;
    border: 3px solid #CE9696;   
    background-color: transparent;
    font-size: 15px;
    border-right: none;
    background-color: rgb(247, 247, 247);
}

.sbar button{
    background-image: url("../img/search_icon_m.png");
    background-repeat: no-repeat;
    background-position: 14px 8px;
    width: 50px;
    height: 43px;
    padding: 18px 0px;
    border: 3px solid #CE9696;   
    background-color: transparent;
    border-left: none;
    position: relative;
    right: 6px;
    bottom: 5px;
    cursor: pointer;
    background-color: rgb(247, 247, 247);
}

.txt{
    text-align: center;
    margin-top: 2px;
}

.txt a{
    text-decoration: none;
    color: #777;
    font-size: 11px;
    font-weight: normal
}