*{
    margin: 0px;
    padding: 0px;
}


.container{
    width: 100%;
    text-align: center;
}

.logo{
    margin-top: 94px;
}

.logo img{
    width: 370px;
    height: 120px;
}
.sbar{
    text-align: center;
}

.sbar input{
    outline: none;
    width: 396px;
    height: 34px;
    padding: 0px 14px;
    background: #fff;
    border: 1px solid #dcdcdc;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
    border-radius: 6px;
    color: #545454;
}

.sbar input:hover{
    border-color: #b7b7b7;
    box-shadow: 0 1px 2px rgb(0 0 0 / 12%) inset;
}

.sbar input:focus{
    border-color: #4d90fe;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%) inset, 0 1px 4px rgb(0 163 255 / 20%) inset;
}

.sbar button{
    width: 52px;
    height: 34px;
    color: #fff;
    border-radius: 6px;
    border: 1px solid #337ab7;
    background-color: rgb(73, 147, 231);
    position: relative;
    top: 4px;
    right: 12px;
    cursor: pointer;
}

.sbar i{
    font-size: 22px;
}

.banner{
    text-align: center;
    margin-top: 50px;
}
